$font-color: #fff;
$card-one-red: red;
$card-two-green: green;
$card-three-blue: blue;
$card-four-orange: orange;
$nav-underline: linear-gradient(to right, #b10000, #bf002d, #c20054, #b7007c, #9a00a4, #863ec8, #645de6, #0078ff, #00a0ff, #00b8ea, #00c896, #12cf2a);


