@use '../constants/colors' as *;
@use '../constants/mixins' as *;
@use '../constants/font-face' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');



.hero-shadow{

    @include position(absolute, 0, 100%, 100%);
    top: 0;
    background-color: rgba(0,0,0,.7);
    z-index: -1;
}

.navbar-nav{
    display: flex;
    justify-content: flex-end;
    padding: 25px 40px 25px 40px;
    list-style-type: none;

    .navbar-brand{
        text-decoration: none;
    

    .bi-gem{
        margin-right: 1000px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        color: $font-color;

        .authorName{
            margin-left: 10px;
            font-size: 21px;
            text-decoration: none;
            color: $font-color;
        }
    }
}

.nav-link{
    position: relative;
    margin-left: 50px;
    width: 100px;
    padding: 40px 0 10px 0;
    font-size: 15px;
    font-family: 'Prometheus', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: $font-color;

    &::after{
        content: "";

        @include position(absolute, 0, 0, 3px);
        background-image: $nav-underline;
        bottom: -1px;
        transition: 0.3s;
    }

    &:hover::after{
        width: 100%;
    }

}
}



.github_link{
    margin-right: 25px;    
}

.linkedin_link{
    margin-left: 25px;
}