@use "../constants/colors" as *;
@use '../constants/mixins' as *;
@use '../constants/font-face' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.main_title{
    @include titleStyles;
}

.about_me_container{
    position: relative;
    // padding: 40px 0 60px 0 ;
    width: 92%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 90px;
    margin-left: 90px;

    .box_about_me{
        position: relative;
        height: 480px;
        background: #03060c;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before{
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;
            right: -6px;
            bottom: -6px;
            background-color: #fff;
            transform: skew(3deg, 3deg);
            z-index: -1;
        }
    
        &:nth-child(1)::before{
            background: $card-one-red;
        }
    
        &:nth-child(2)::before{
            background: $card-two-green;
        }
    
        &:nth-child(3)::before{
            background: $card-three-blue
        }
        &:nth-child(4)::before{
            background: $card-four-orange;
        }

    }

        .card_about_me{
            position: relative;
            padding: 20px;

            .card_number{
                position: absolute;
                top: -45px;
                right: 30px;
                margin: 0;
                font-family: "Prometheus";
                padding: 0;
                font-size: 5em;
                color: rgba(255, 255, 255, .05);
                transition: .3s;

            }

            .card_title{
                margin: 0 0 30px;
                padding: 0;
                font-size: 24px;
                font-weight: 500;
                color: $font-color;
            }

            .card_content{
                margin: 0;
                padding: 0;
                font-size: 16px;
                line-height: 25px;
                color: $font-color
            }

                .read_more{

                    @include button(20px 0 0 0, 15px 25px);
                    position: relative;
                    left: 30%;
                    display: inline-block;
                    transition: .3s;
                    transform: translateY(-40px);
                    opacity: 0;
                    visibility: hidden;    
                    
                &:hover{
                    color: #000;
                    background-color: #fff;
                }
            }
        }
    }


.box_about_me:hover .card_number{
    transform: scale(1.05);
}

.box_about_me:hover .read_more{
    transform: translateY(30px);
    opacity: 1;
    visibility: visible;
}